<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Stras'Cook{% endblock %}</title>

    {% block stylesheet %}
    {% include '/StrasCook/styles.html.twig' %}
    {% endblock %}


    {% block stylesheetpages %}

     {% endblock %}



    <link rel="icon" href="/assets/images/favicon.png">

</head>



<body>
   <header>

    {% block header %}
    {% include '/StrasCook/header.html.twig' %}
    {% endblock %}

</header>

    {% block content %}

    {% endblock %}


    {% block javascript %}
    {% include '/StrasCook/javascript.html.twig' %}
    {% endblock %}

    {% block back_to_top %}
    {% include '/StrasCook/back_to_top.html.twig' %}
    {% endblock %}

</body>

<footer>

    {% block footer %}
    {% include '/StrasCook/footer.html.twig' %}
    {% endblock %}

</footer>



</html>
