@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.h1, h1 {
  font-family: "Nothing You Could Do", cursive;
    color: #FFB74D;
}

.bouton {
    font-family: Raleway;
    background-color: #FFB74D;
    border-color: #FFB74D;
    box-shadow: 0 6px 10px 0 #0000001a,0 1px 18px 0 #0000001a,0 3px 5px -1px #0003;
    transition: transform 0.3s;
}

.bouton:hover {
    background-color: #ff8917;
    border-color: #ff8917;
    transform: scale(1.2);
}

.calendar {
  position: relative;
}

.calendar__container {
    text-align: center;
}

.calendar_text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    margin: 2% 4% 4% 4%;
    text-align: center !important;
}

.calendar__table {
  width: 100%;
  height: 100%;
    box-shadow: 0 6px 10px 0 #0000001a,0 1px 18px 0 #0000001a,0 3px 5px -1px #0003;
}

.calendar__table td {
  padding: 0.2em 0.7em 0.7em;
  border: 1px solid #CCC;
  vertical-align: top;
  width: 14.29%;
  height: 20%;
}

.calendar__table td.is-today {
  background-color: #f3f3f3;
}

.calendar__table--6weeks td {
  height:  16.66%;
}

.calendar__weekday {
  font-weight: bold;
    font-family: Raleway;
  color: #969696;
  font-size: 1.2em;
}

.calendar__day {
  font-size: 1.25em;
    color: #FFB74D;
    font-family: Raleway;
    text-decoration: none;
    background-color: transparent;
}

.calendar__day_user {
    font-size: 1.25em;
    color: #FFB74D;
    font-family: Raleway;
    text-decoration: none;
    background-color: transparent;
}

.calendar__day:hover {
    color: #FF8917 !important;
}

.calendar__othermonth .calendar__day {
  opacity: 0.3;
}

.calendar__event {
    font-family: Raleway;
    color: #969696;
    background-color: #e4ece6;
    border-radius: 10%;
    transition: transform 0.3s;
}

.calendar__event a {
    color: #FFB74D !important;
    text-decoration: underline;
}

.calendar__event a:hover {
    color: #FF8917 !important;
    text-decoration: underline;
    transform: scale(1.2);
}

.calendar__button {
  display: block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #FFF;
  font-size: 30px;
  background-color: #FFB74D;
  border-radius: 50%;

  box-shadow: 0 6px 10px 0 #0000001a,0 1px 18px 0 #0000001a,0 3px 5px -1px #0003;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-decoration: none;
  transition: transform 0.3s;
}

.calendar__button:hover {
  text-decoration: none;
  color: #FFF;
  transform: scale(1.2);
}

.calendar__nav {
    display: flow-root;
}

.nav__previous {
    float: left;
}

.nav__next {
    float: right;
}

.input[type=value] {
    color: red;
}

label {
    font-family: Raleway;
}