.info {
  padding-top: 180px;
  font-size: 25px;
  margin-bottom: 60px;
  text-align: center;
}

.lienContact{
  color: black;
}

.lienContact:hover, .lienContact:visited, .lienContact:link, .lienContact:active{
  color: black;
}

form{
  margin-top: 40px ;
}

.btn, .btn:hover {
  border: 1px solid black !important;
  margin-left: 180px;
  margin-bottom: 50px;
}

.form-control{
  border: 1px solid black !important;
}

.back-to-top {
    color:grey !important;
    border: 1px solid grey !important;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

address {
    color: #FDA93D;
}

address a {
    font-size: 22px;
}