

.jumbotron { color: white; border-radius: 0px !important;}

p {text-align: center !important; margin: 10px !important;}

.white:hover, .white:visited, .white:link, .white:active
{
	text-decoration: none !important;
	color: #FFF !important;
}
