

.jumbotron {color: white; border-radius: 0px !important; margin: 0px !important;}

.pFooter {text-align: center !important; margin: 10px !important; font-size: 1.1em;}

.lienFooter, .lienFooter:visited, .lienFooter:link, .lienFooter:active
{
	text-decoration: none !important;
	color: #FFF !important;
}

.lienFooter:hover
{
	text-decoration: none !important;
	color: #FFB74D !important;
}
