@import
    url("https://fonts.googleapis.com/css?family=Oxygen");
@import
     url("https://fonts.googleapis.com/css?family=Muli");





h1 {
    margin-top: 0;
}

header {

    margin-bottom: 0 !important;
    padding-top: 3vh !important;

}

body {
    margin: 0 !important;
    padding: 0 !important;

}

.mynav {
    background-image: url("/assets/img/fond_header.jpg");
    height: 75vh;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:0;
    text-shadow: 2px 2px 2px black
}


.mynav h1 {
    font-family: 'Muli', 'cursive';
    color: white;
    font-size: 1.7rem;
    margin-top: 15vh;
    margin-left: 20vw;
    margin-right: 15vw;
    align-content: center;
    justify-content: center;
    text-shadow: 2px 2px 2px black
}




.navbar {
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: -3vh;

}


  /*<img src="/assets/img/fond_header.jpg" alt="banner" class="img-fluid" id="banner" />*/

/*header {
    background-image: url("/assets/img/fond_header.jpg");
    background-position: top-center;
    background-size: 300vh;
    background-repeat: no-repeat;
}
*/

.navbar-brand {
    margin-right: 10vh;
}


.img-fluid {




}

button span {
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 4vw;
    padding: 3px;

}


 .navbar-toggler {

    margin-left: 3vh;
    margin-right: 0;
    margin-top: 0;

}





.navbar-collapse a {
    font-size: 2em;
    font-family: "Oxygen", sans-serif;
}

.nav-item {
    color: white;
}

.nav-item:hover {
    color: white;
    /*font-size: 1.3em;*/
}

.nav-fill {
    font-family: "Oxygen", sans-serif;
    font-size: 1rem;
    color: white;
    margin-left: 5vh;
    text-shadow: 1px 1px black;

}

/* IDEE TRANSPARENCE MENU
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 }
*/




 .navbar li {
    color: white;


}




.navbar-brand img {

  width: 35vw;
  height: 5vw;


}




/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .mynav h1 {font-size:2.5rem;}
    /*1rem = 16px*/
  .nav-fill {font-size:1rem;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .mynav h1 {font-size:2.5rem;} /*1rem = 16px*/
    .nav-fill {font-size:1rem; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 .mynav h1 {font-size:3.3rem;} /*1rem = 16px*/
    .nav-fill {font-size:0.5rem; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 .mynav h1 {font-size:4rem;} /*1rem = 16px*/ .nav-fill {font-size:0.7rem; }
}
