h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

.menu {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 2em;
    text-align: left;
    padding-top: 1%;
}

#filters li{
    display: inline;
    list-style-type: none;
    /*margin-left: 12vw;*/
    font-size: 2rem;
    padding: 0.1vw;
}

.barre_filtres {
    margin-top: 5vh;
}


#filters {
    text-align: center;
}

hr {
    width: 93%;
    height: 1px;
    background-color: #000000;
}

.btn {
    text-align: center;
}
.btn-primary{
    background-color: #969696;
    border-color: #969696;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #666666;
    border-color: #969696;
}

.bouton {
    text-align: center;
}

.container.menus {
    padding-bottom: 10vh;
}

h3 {
    font-family: 'Raleway' !important, sans-serif;
    font-size: 1em;
    font-style: italic;
    text-align: left !important;
    margin-bottom: 14px;
}

h4 {
    font-family: 'Raleway' !important, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: left !important;
}

.tarifs {
    font-family: Raleway;
    font-size: 1.3em;
    font-weight: bold;
    text-align: right !important;
}

.bio {
    color: green;
    font-style: italic;
    text-align: left !important;
    font-size: 1.1em;
}

li, h3, p {
    font-family: 'Raleway', sans-serif;
}

.titre {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

.partenaires {
    margin-top: 2% !important;
    margin-bottom: 2%;
    margin-left: auto;
}


.back-to-top {
    color:grey;
    border: 1px solid grey;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.modal-body p {
    font-size: 1.2em;
}