@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h2 {
color: #FFB74D;
font-family: 'Nothing You Could Do', cursive;
padding-top: 5%;
margin-left: 5%;
margin-right: 5%;
text-align: center;
}

p {
font-family: 'Raleway', sans-serif;
margin: 5%;
text-align: justify;
}

@media screen and (min-width: 950px) {
  p {
  font-size: 20px;
  } 
}

@media screen and (min-width: 1150px) {
  p {
  font-size: 24px;
  } 
}


aside {
padding: 0 !important;
}

aside p {
padding-left: 5%;
padding-right: 5%;
}

iframe {
border: 0;
height: 400px;
padding: 0 !important;
}