@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway');

h2 {
color: #FFB74D;
font-family: 'Nothing You Could Do', cursive;
padding-top: 5%;
margin-left: 5%;
margin-right: 5%;
text-align: center;
}

p {
font-family: 'Raleway', sans-serif;
font-size: 1em;
margin: 5%;
text-align: center;
}

@media screen and (min-width: 950px) {
  p {
  font-size: 20px;
  }
}

@media screen and (min-width: 1150px) {
  p {
  font-size: 24px;
  }
}

.lien {
  color: #FFB74D !important;
  text-decoration: underline;
}

.lien:hover {
  color: #ED8A07 !important;
}

.modale {
  font-family: Raleway, sans-serif;
  font-size: 1em;
  text-align: left !important;
}

li, p {
  font-family: 'Raleway', sans-serif;
}

aside {
padding: 0 !important;
}

aside p {
padding-left: 5%;
padding-right: 5%;
}

.sectionChef {
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 5%;
  text-align: center;
}

iframe {
  border: 0;
  height: 400px;
  padding: 0px !important;
}

.back-to-top {
    color:grey;
    border: 1px solid grey;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}