{% extends 'layout.html.twig' %}
{% block stylesheetpages %}
    <link rel="stylesheet" href="/assets/css/calendar.css">
{% endblock %}

{% block content %}

    <br><br>
<div class="container">
    <div class="calendar__container">
        <h1>Éditer l'évènement :<br>
            <small>{{ name }}
            </small>
            <!--<small><?= h($event->getName()); ?></small>-->
        </h1>
    </div>

    <form action="" method="post" class="form">
        <!--<?php render('calendar/form', ['data' => $data, 'errors' => $errors]); ?>-->
        {% include 'StrasCook/calendar/form.html.twig' with {'data' : 'errors'} %}
        <div class="form-group calendar__container">
            <button class="btn btn-primary bouton">Modifier l'évènement</button>
        </div>
    </form>
</div>

{% endblock %}