{% extends 'layout.html.twig' %}
{% block stylesheetpages %}
    <link rel="stylesheet" href="/assets/css/calendar.css">
{% endblock %}

{% block content %}

<br>
<div class="container">

    {% if errors is not empty %}
    <div class="alert alert-danger">
        Il subsiste des erreurs
    </div>
    {% endif %}
    <div class="calendar__container">
        <h1>Ajouter un rendez-vous</h1>
    </div>
    <br>
    <form action="" method="post" class="form">

        {% include 'StrasCook/calendar/form.html.twig' with {'data' : 'errors'} %}
        <!--<?php render('calendar/form', ['data' => $data, 'errors' => $errors]); ?>-->
        <div class="form-group calendar__container">
            <button class="btn btn-primary bouton">Soumettre le rendez-vous</button>
        </div>
    </form>
</div>

{% endblock %}