{% extends 'layout.html.twig' %}
{% block stylesheetpages %}
    <link rel="stylesheet" href="/assets/css/calendar.css">
{% endblock %}

{% block content %}

    <br><br>
<div class="container">
    <div class="calendar__container">
        <h1>Mon rendez-vous</h1>
    </div>

    <div class="container calendar__nav">
        <div>
            <form action="" method="post" class="form">
                <!--<?php render('calendar/form', ['data' => $data, 'errors' => $errors]); ?>-->
                {% include 'StrasCook/calendar/form.html.twig'
                    with {'data' : 'errors'} %}
                <div class="form-group calendar__container">
                    <button class="btn btn-primary bouton">Modifier le rendez-vous</button>
                </div>
            </form>
        </div>

        <div>
            <form action="/reservation/delete/{{ event.id }}" method="get" class="form" name="deleteEvent" value="deleteEvent">
                <div class="form-group calendar__container">
                    <input type="hidden" id="deleteEvent" name="delete" value="{{ event.id }}">
                    <button class="btn btn-primary bouton" name="delete" style="background-color: darkgrey; border-color: darkgrey">Supprimer le rendez-vous</button>
                </div>
            </form>
        </div>

    </div>

</div>

{% endblock %}
