{% extends 'layout.html.twig' %}

{% block stylesheetpages %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block content %}

<section class="container-fluid" id="activites">
    <div class="row">
      <aside class="col-md-6">
        <h2>Mes activités</h2>
        <p>Chef à domicile, je conçois des menus, les prépare essentiellement chez mes clients, effectue le service et gère le nettoyage de la cuisine.
        <br/>J'interviens uniquement dans les 33 communes de <a href="#carte"  class="lien">l'Eurométropole.</a></p>
        <p>Je vous propose des menus gastronomiques "healthy" (vegan, végétarien...) et des aliments bio sélectionnés au sein d'une réseau de producteurs locaux, parce que le plaisir culinaire peut se faire dans une approche respectueuse de l'environnement.</p>
      </aside>
      <aside class="col-md-6">
        <img src="/assets/img/activites.jpg" class="img-fluid" alt="Assiette d'oeufs durs sur lit de mâche">
      </aside>
    </div>
  </section>
  <section class="container-fluid" id="garanties">
    <div class="row">
      <aside class="col-md-6">
        <img src="/assets/img/garanties.jpg" class="img-fluid" alt="Mains façonnant de la pâte">
      </aside>
      <aside class="col-md-6 order-first order-md-2">
        <h2>Mes Garanties</h2>
        <p>Stras'Cook c’est un chef expérimenté qui se déplace chez vous, avec les ingrédients et le <a href="modaleMateriel" data-toggle="modal" data-target="#modaleMateriel" class="lien">matériel nécessaire</a>.</p>

          <!-- Modale Matériel -->
          <div class="modal fade" id="modaleMateriel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLongTitle">Matériel Nécessaire</h2>
                </div>
                <div class="modal-body">
                  <p class="modale">Voici une liste du matériel nécessaire pour faire appel à mes services :</p>
                  <ul>
                    <li>Four</li>
                    <li>Plaque de cuisson</li>
                    <li>Trois casseroles</li>
                    <li>Poêle</li>
                    <li>Couteaux de cuisine, spatules, louche, …</li>
                    <li>Planche à découper</li>
                    <li>Assiettes, verres, couverts, … pour le service</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <p>En adéquation avec le respect de l’environnement, Stras'Cook s’engage à ne cuisiner que des produits de saison et à favoriser autant que possible les produits locaux. C’est pourquoi, je ne vous proposerai jamais de desserts aux fraises en hiver (voir ci-dessous les tendances de la saison).</p>
      </aside>
    </div>
  </section>
  <section class="container-fluid" id="actu">
    <div class="row">
      <aside class="col-md-6">
        <h2>Au printemps, place aux gourmands {{ modif.message }} !</h2>
        <p>Le printemps pointe le bout de son nez. Radis, asperges, petits pois, oignons nouveaux...sont de sortie !</p>
        <p>Il existe une quantité considérable de recettes s’articulant autour des légumes de printemps. C’est particulièrement à ce moment-là qu’on souhaite contrebalancer la richesse des plats hivernaux par des préparations légères, mais non moins savoureuses !</p>
      </aside>
      <aside class="col-md-6">
        <img src="/assets/img/actu.jpg" class="img-fluid" alt="Mains tenant des myrtilles">
      </aside>
    </div>
  </section>

    <iframe class="container-fluid" id="carte"  src="https://www.google.com/maps/d/embed?mid=16GGwOEa9yp-LH0PEVIusL9Ui9CB2kbSM" allowfullscreen></iframe>


{% endblock %}
