{%  extends 'layout.html.twig' %}

{% block header %}
{% endblock %}


{% block stylesheetpages %}

    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="assets/js/admin_actu.js"></script>

{% endblock %}



{% block content %}

    <div class="container">

    <form class="row" method="post" action="/Admin">

    <div class="col-6">

        <label for="titre">Titre de l'actualité :</label><br>
        <input type="text" name="titre" id="titre"><br><br>

    </div>
        
    <div class="col-6">

        <input class="btn btn-primary" type="submit" value="Sélectionner un fichier">
        
    </div>

    <div class="col-12">

        <label for="article">Introduction :</label><br>
        <textarea class="form-control" name="article" id="article" cols="30" rows="10"></textarea>
        <br>
        <br>

    </div>


    <div class="col-3 offset-5">

        <input type="submit" value="Envoyer">

    </div>


    </form>

        <button class="btn-primary btn" id="bouton_ajout_actu">Voir tableau</button>

    </div>

    <hr>

    <div class="container" id="ajout_actu" style="display: none;">

        <p>Salut</p>

    </div>


{% endblock %}

{% block footer %}
{% endblock %}