{% block back_to_top %}

<a id="back-to-top" href="#" class="btn btn-faded btn-lg back-to-top" role="button" title="Cliquez pour retourner en haut de la page" data-toggle="tooltip" data-placement="left"><span class="fa fa-2x fa-angle-up"></span></a>

{% endblock %}