{% block footer %}

<div class="jumbotron" style="background-color: darkgray">
    <div class="col-11">
        <p class="pFooter">Site développé par Guillaume, Kévin, Jennifer et Xavier.</p>
    </div>
    <div class="row">
        <div class="col-7 align-self-center">
            <p class="pFooter"><a href="/partenaires" class="lienFooter">Partenaires</a></p>
            <p class="pFooter"><a href="/mentions" class="lienFooter">Mentions Légales</a></p>
        </div>
        <div class="col-2">
            <p><a class="lienFooter" href="https://www.instagram.com/?hl=fr" target="_blank"><img src="/assets/img/instagram.png"> Instagram</a></p>
            <p><a class="lienFooter" href="https://fr-fr.facebook.com/" target="_blank"><img src="/assets/img/facebook.png"> Facebook</a></p>
        </div>
    </div>
</div>


{% endblock %}
