
{% block header %}

<<<<<<< HEAD
<img src="/assets/img/fond_header.jpg" alt="banner" class="img-fluid" />

    <!-- MENU ENTETE -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-faded">
    <!-- Brand -->
<a class="navbar-brand" href="#"><img src="/assets/img/logo-blanc.png" alt="logo" id="logo" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
=======


    <!-- MENU ENTETE -->
 
         

  
   

<div class="container-fluid mynav">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-faded">
    <!-- Brand -->
    
<a class="navbar-brand" href="/accueil"><img src="/assets/img/logo-blanc.png" alt="logo" id="logo" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-reorder">

</span>
>>>>>>> 5672d8076035c74adcda9e753cd74fe545c81f12
</button>



<<<<<<< HEAD
<!-- Links -->
<div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent">
=======

<!-- Links -->
<div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent"> 
>>>>>>> 5672d8076035c74adcda9e753cd74fe545c81f12

<a class="nav-link nav-item" href="/accueil">Accueil</a>
<a class="nav-link nav-item" href="/lechef">Le Chef</a>
<a class="nav-link nav-item" href="/menus">Menus</a>
<a class="nav-link nav-item" href="/reservation">Réservation</a>
<a class="nav-link nav-item" href="/contact">Contact</a>
</div>
<<<<<<< HEAD
</nav>


{% endblock %}
=======

</nav>

<h1><< LA MEILLEURE TABLE DU COIN C'EST LA VOTRE ! >></h1>

</div>
    


{% endblock %}

   
>>>>>>> 5672d8076035c74adcda9e753cd74fe545c81f12
