
{% block header %}

<img src="/assets/img/fond_header.jpg" alt="banner" class="img-fluid" />

    <!-- MENU ENTETE -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-faded">
    <!-- Brand -->
<a class="navbar-brand" href="#"><img src="/assets/img/logo-blanc.png" alt="logo" id="logo" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>



<!-- Links -->
<div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent">

<a class="nav-link nav-item" href="/accueil">Accueil</a>
<a class="nav-link nav-item" href="/lechef">Le Chef</a>
<a class="nav-link nav-item" href="/menus">Menus</a>
<a class="nav-link nav-item" href="/reservation">Réservation</a>
<a class="nav-link nav-item" href="/contact">Contact</a>
</div>
</nav>


{% endblock %}
