
{% block header %}



    <!-- MENU ENTETE -->






<div class="container-fluid mynav">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-faded">
    <!-- Brand -->

<a class="navbar-brand" href="/accueil"><img src="/assets/img/logo-blanc.png" alt="logo" id="logo" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-reorder">

</span>
</button>




<!-- Links -->
<div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent">

<a class="nav-link nav-item" href="/accueil">Accueil</a>
<a class="nav-link nav-item" href="/lechef">Le Chef</a>
<a class="nav-link nav-item" href="/menus">Menus</a>
<a class="nav-link nav-item" href="/reservation">Réservation</a>
<a class="nav-link nav-item" href="/contact">Contact</a>
</div>

</nav>

<h1 class="titre_cache">« LA MEILLEURE TABLE DU COIN C'EST LA VÔTRE ! »</h1>

</div>



{% endblock %}
