{% extends 'layout.html.twig' %}

{% block stylesheetpages %}

<link rel="stylesheet" href="/assets/css/style.css">

{% endblock %}

{% block content %}

<section class="col-md sectionChef" id="presentation">
  <h2>Qui suis-je ?</h2>
  <p>Bonjour, je m’appelle Charlotte Hofrez, j’ai 30 ans et je vis actuellement dans ce beau quartier qu’est l’Orangerie à Strasbourg !</p>
  <p>Après avoir travaillé 4 ans dans la communication, j’ai décidé de me lancer dans un métier qui était initialement une passion : la cuisine. L’idée s’est révélée un soir où je recevais des amis pour dîner. Courir entre la cuisine et la salle à manger, tout en maintenant la conversation était relativement difficile. J’avais rêvé ce soir-là de rester avec mes convives et d’avoir à ma disposition une personne nous apportant les différents plats. Le déclic s’est fait naturellement !</p>
</section>
<img src="/assets/img/charlotte.jpg" class="img-fluid" alt="">
<section class="col-md sectionChef" id="savoirfaire">
  <h2>Mon savoir-faire</h2>
  <p>J’ai commencé par valider un CAP cuisine à l’école hôtelière de Strasbourg. Puis, j’ai eu la chance de travailler pour le chef triplement étoilé Marc Veyrat. Pendant 5 ans, j’ai pu faire mes armes auprès de ce pape de la gastronomie. Et de fil en aiguille, je me suis perfectionnée dans la confection de plats gastronomiques en y ajoutant une dimension conviviale : celle de la cuisine à domicile.</p>
  <p>En tant que jeune maman, j'ai pris conscience de l'importance d'une nourriture saine, qui ne traverse pas la moitié du globe en avion pour être mangé en quelques bouchées. J'ai donc orienté mon travail culinaire sur des aliments bio et locaux autant que possible: je dispose maintenant d'un réseau local de producteurs agricoles bio auprès desquels je me fournis en toute confiance.</p>
  <p>Mes recherches m'ont aussi amené à considérer les modes de cuisine dits healthy (Vegan, végétarien, etc.) et à relever le challenge d'en faire des menus gastronomiques en cuisine à domicile. Cette offre spécifique est inédite sur Strasbourg et je vous offre donc la possibilité de découvrir ce nouveau monde culinaire.</p>
  </section>
  <img src="/assets/img/savoirfaire.jpg" class="img-fluid" alt="">

{% endblock %}
