<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="Love Authority." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="assets/css/login.css" />
</head>
<body>
<!--hero section-->
<section class="global">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-8 mx-auto">
                <div class="card border-none">
                    <div class="card-body">
                        <div class="mt-2">
                            <img src="assets/img/charlotte.jpg" alt="Cha" class="brand-logo mx-auto d-block img-fluid rounded-circle"/>
                        </div>
                        <p class="mt-4 text-white lead text-center">
                            Identifiez vous pour accéder à votre espace d'administration
                        </p>
                        <div class="mt-4">
                            <form role="form" method="post" action="{{ server|escape }} ">
                                <div class="form-group">
                                    <input type="username" class="form-control" name="username" id="username" value="" placeholder="Nom d'utilisatrice">
                                    {% for error in errors %}
                                        <div class="row">
                                            <div class="alert alert-danger alerte_erreur">{{ error }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Mot de passe">
                                </div>

                                <button type="submit" name ="submit" class="btn btn-primary float-right">S'identifier</button>
                            </form>
                            {% for error in errors %}
                            <img src="https://media.giphy.com/media/owRSsSHHoVYFa/giphy.gif" alt="">
                            {% endfor %}

                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

</body>
</html>
