<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <meta name="description"  />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="assets/css/login.css" />
    </head>
    <body>

        <section class="global">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-8 mx-auto">
                        <div class="card border-none">
                            <div class="card-body">
                                <div class="mt-2">
                                    <img src="assets/img/charlotte.jpg" alt="Cha" class="brand-logo mx-auto d-block img-fluid rounded-circle"/>
                                </div>
                                <p class="mt-4 text-white lead text-center">
                                   Que voulez-vous effectuer ?
                                </p>
                                <div class="mt-4">
                                     <ul class="col-12" id="choix">
                                         <li><a href="/admin/menu"><button name ="ajouter_menus" class="btn btn-primary btn-block float-right">Ajouter/Modifier des menus</button></a></li>
                                        <li><a href="/admin/actu"><button name ="ajouter_actu" class="btn btn-primary btn-block float-right">Ajouter/Modifier des actus</button></a></li>
                                         <li><a href="/reservation"><button name ="reservations" class="btn btn-primary btn-block float-right">Gérer les réservations</button></a></li>
                                        <li><a href="/logout"><button class="glyphicon glyphicon-user btn btn-faded btn-block float-right" aria-hidden="true">Se déconnecter </button>
                                         </a>
                                          </li>
                                        </ul>
                                  </div>



                                </div>


                            </div>
                        </div>
                    </div>


                </div>


        </section>

    </body>
</html>
