{% extends 'layout.html.twig' %}

{% block stylesheetpages %}

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/menu.css">

{% endblock %}


{% block content %}

<br>
<h1>Partenaires</h1>
<br>
<div class="container">
  <p class="partenaires">Suivant une démarche de développement durable, Stras'Cook privilégie des fournisseurs et partenaires locaux, pour des produits cultivés ou élevés en Alsace.<br>
  Ces approvisionnements de proximité présentent de nombreux avantages :</p>
    <ul>
      <li>consommer des produits locaux, sans impact "transport lourd" et donc sans gaspillage d'énergie</li>
      <li>avoir ainsi des produits de saison, mûrs, cueillis la veille, assurément plus parfumés et goûteux</li>
      <li>échapper aux standardisations abusives du grand commerce : produits calibrés, sans "défauts"</li>
      <li>favoriser l'économie locale, le maintien agricole dans notre environnement régional proche.</li>
    </ul>
  <p class="partenaires">Par ailleurs, choisir des producteurs Bio permet de promouvoir une agriculture "saine", "naturelle", meilleure pour la santé et l'environnement.
  </p>
</div>
<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6">
      <a href="http://www.lafermemaurer.com/" target="_blank">
        <img src="/assets/img/img-partenaires/maurer.png" alt="logo Ferme Maurer" class="img-thumbnail">
      </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 offset-1">
      <a href="http://www.delpierre.com/accueil.php" target="_blank">
        <img src="/assets/img/img-partenaires/delpierre.jpg" alt="logo Delpierre" class="img-thumbnail">
      </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 offset-1">
      <a href="https://www.lafermeschmitt.com/" target="_blank">
        <img src="/assets/img/img-partenaires/schmitt.png" alt="logo Delpierre" class="img-thumbnail">
      </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6 offset-1">
      <a href="http://www.antoni-chocolatier.com/" target="_blank">
        <img src="/assets/img/img-partenaires/antoni.jpg" alt="logo Delpierre" class="img-thumbnail">
      </a>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6">
      <a href="https://feyel-artzner.com/fr/" target="_blank">
        <img src="/assets/img/img-partenaires/feyel.jpg" alt="logo Ferme Maurer" class="img-thumbnail">
      </a>
    </div>
    <div class="col-md-2 col-sm-3 offset-1 col-xs-6">
      <a href="http://www.ferme-oberfeld-alsace.fr/" target="_blank">
        <img src="/assets/img/img-partenaires/oberfeld.png" alt="logo Delpierre" class="img-thumbnail">
      </a>
    </div>
    <div class="col-md-2 col-sm-3 offset-1 col-xs-6">
      <a href="https://www.domaines-schlumberger.fr/" target="_blank">
        <img src="/assets/img/img-partenaires/schlumberger.png" alt="logo Delpierre" class="img-thumbnail">
      </a>
    </div>
    <div class="col-md-2 col-sm-3 offset-1 col-xs-6">
      <a href="http://lejardindemarthe.fr/" target="_blank">
        <img src="/assets/img/img-partenaires/jardin-marthe.jpg" alt="logo Delpierre" class="img-thumbnail">
      </a>
    </div>
  </div>
</div>
<br>

{% endblock %}
